@import (reference) "syntax-variables";

/* Default colors have been selected to style well with the One Dark theme */
.define-default() {
  @syntax-text-color: hsl(220, 14%, 71%);
}
.define-default();

/* Note that these colors should take precedence over themes */
@syntax-color-attribute: mix(@syntax-text-color, #806040, 50%);
@syntax-color-lifetime: mix(@syntax-text-color, #e7007d, 50%);
@syntax-color-macro: mix(@syntax-text-color, #00f0ff, 50%);
@syntax-color-parameter: mix(@syntax-text-color, #2255bb, 50%);

atom-text-editor::shadow .source.rust {

  .attribute {
    color: @syntax-color-attribute;
  }

  .lifetime {
    color: @syntax-color-lifetime;
  }

  .macro {
    color: @syntax-color-macro;
  }

  .parameter {
    color: @syntax-color-parameter;
  }

}
